#Server
PORT=

# DB
DATABASE_CLIENT=
DB_HOST=
DB_PORT=
DB_USER=
DB_NAME=
DB_PASSWORD=
DATABASE_URL=

# Docker
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

#JWT
JWT_SECRET=
JWT_EXPIRES_IN=

# Quantidade de rodadas de hashing para senhas
SALT_ROUNDS=
#ROOT
ROOT_EMAIL =  
ROOT_PASSWORD =
