#Server
PORT=3000

DATABASE_CLIENT=pg
DB_HOST=db
DB_PORT=5532
DB_USER=docker
DB_NAME=labsec
DB_PASSWORD=docker
DATABASE_URL=postgresql://docker:docker@db:5532/labsec

#JWT
JWT_SECRET=supersecret
JWT_EXPIRES_IN=1h

ROOT_EMAIL=root@root.com


# DB
POSTGRES_DB=labsec
POSTGRES_USER=docker
POSTGRES_PASSWORD=docker
