.section{
    background-color: #eeeeee;
    form{
        background-color: #242424;
        color: #ffff
    }
}

.equipe{
    p{
        margin: 0;
        margin-bottom: 1rem;
    }
}
