@import "tailwindcss";

@theme inline {
  /* Cores principais da aplicação (botões, footer, etc) */ 
  --color-primary: var(--color-blue);
  --color-secondary: var(--color-red);
  
  /* Identidade visual */
  --color-background: #F5F7FA;
  --color-purple: #6750A4;
  --color-blue: #0B2C48;
  --color-red: #8B1E2D;

  /* Fontes */
  --font-roboto: 'Roboto', sans-serif;
}

@layer base {
  body {
    @apply bg-background font-roboto
  }

  h1, h2, h3 {
    @apply text-sky-950
  }
}
